

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
   
}

.contact-left {
    width: 100%;
    max-width: 1300px;
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-left-title h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.contact-left-title hr {
    border: 0;
    height: 2px;
    background: #4caf50;
    margin-bottom: 20px;
    width: 50px;
}

.contact-input {
    background: #B0E0E6;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
    box-sizing: border-box;
}

.contact-input:focus {
    border-color: #4caf50;
    outline: none;
}

button[type='submit'] {
    width: 100%;
    padding: 12px;
    background-color: rgba(0, 212, 255, 0.9);
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type='submit']:hover {
    background-color: #7A3DFF;
}


@media (max-width: 768px) {
    .contact-left {
        padding: 15px;
    }

    .contact-left-title h2 {
        font-size: 20px;
    }

    .contact-input {
        font-size: 14px;
    }

    button[type='submit'] {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .contact-left-title h2 {
        font-size: 18px;
    }

    .contact-input {
        font-size: 12px;
    }

    button[type='submit'] {
        font-size: 12px;
        padding: 8px;
    }
}
