.experience-img {
  height: 50vh;
  width: 50vw;
  border-radius: 30px;
}

.experience-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  margin: 50px 50px;
}

.experience-text {
  width: 45vw;
}

.Experiance-heading{
  font-size: 1.7rem;
  border-bottom: 2px solid grey; /* Adjust the width (3px in this case) */
  padding-bottom: 5px; /* Adds spacing between text and border */
  width: fit-content; /* Ensures the border only spans the text width */
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
  .Experiance-heading{
    font-size: 1.2rem;
    border-bottom: 2px solid grey; /* Adjust the width (3px in this case) */
    padding-bottom: 3px; /* Adds spacing between text and border */
    width: fit-content; /* Ensures the border only spans the text width */
  }
  .experience-item {
    flex-wrap: wrap;
    margin: 0px;
    justify-content: center;
  }
  
  .experience-img {
    width: 80vw; /* Adjust image width for smaller screens */
    height: auto; /* Maintain aspect ratio */
    margin: 20px 0px;
  }

  .experience-text {
    width: 80vw; /* Adjust text width for smaller screens */
    margin-top: 20px; /* Add space between text and image */
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .Experiance-heading{
    font-size: 1.2rem;
    border-bottom: 2px solid grey; /* Adjust the width (3px in this case) */
    padding-bottom: 3px; /* Adds spacing between text and border */
    width: fit-content; /* Ensures the border only spans the text width */
  }

  .experience-text {
    width: 80vw; /* Adjust text width for smaller screens */
    margin-top: 20px; /* Add space between text and image */
    font-size: 1rem;
  }

  .experience-img {
    width: 90vw; /* Further adjust image width */
    margin: 20px 0px;
  }
}
