* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.skill-desc{
  color: grey;
  font-size: 1rem;
  
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}
.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.container:nth-child(1) {
  animation-delay: 0s;
}
.container:nth-child(2) {
  animation-delay: 1s;
}
.container:nth-child(3) {
  animation-delay: 2s;
}
.container:nth-child(4) {
  animation-delay: 3s;
}
.container:nth-child(5) {
  animation-delay: 4s;
}
.container:nth-child(6) {
  animation-delay: 5s;
}
.container:nth-child(7) {
  animation-delay: 6s;
}
.container:nth-child(8) {
  animation-delay: 7s;
}
.container:nth-child(9) {
  animation-delay: 8s;
}
.text-box {
  padding: 20px 30px;
  background: #B0E0E6 ;
  position: relative;
  border-radius: 25px;
  font-size: 15px;
}
.left-container {
  left: 0;
}
.left-container img{
  z-index: 20;
}
.right-container {
  left: 50%;
}
.container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}
.right-container img {
  left: -20px;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;

  background: black;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.text-box h2 {
  font-weight: 600;
}
.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid black;
  right: -15px;
}
.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid black;
  left: -15px;
}

@media (max-width: 600px) {
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 31px;
  }
  .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .text-box {
    font-size: 13px;
  }
  .text-box small {
    margin-bottom: 10px;
  }
  .right-container {
    left: 0;
  }
  .left-container-arrow,
  .right-container-arrow {
    border-right: 10px solid #fff;
    border-left: 0;
    left: -15px;
  }
  .left-container img,
  .right-container img {
    left: 10px;
  }
}
.heading {
  color: black;
  text-align: center;
  font-size: 2rem;
  animation: slideDown 2s forwards;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
