* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styling */
.education-main {
    color: black;
}

.education {
    margin-top: 50px;
    text-align: center;
}

/* Education Section Layout */
.education-desc {
    margin: 50px 0;
    display: flex;
    align-items: stretch;  
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.education-type {
    font-weight: 1000;
    font-size: 1.7rem;
}

.school, .college, .training {
    text-align: center;
    flex: 1;  
    min-height: 300px; 
    max-width: 600px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(208, 206, 206, 0.5);
    padding: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Hover Effect */
.school:hover, .college:hover, .training:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Font Sizes */
.school p, .college p, .training p { 
    font-size: 1.5rem;
}

.education p:last-child {
    padding: 20px 30px;
}

/* Icons */
.icon-style {
    font-size: 50px;
    /* color: black; */
    margin-bottom: 10px;
}

/* Training Section */
.training-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive Design */
@media (max-width: 1000px) {
    .education {
        margin: 20px 0;
    }

    .education-desc {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .school, .college, .training {
        width: 80%;
        max-width: 100%;
        height: auto;
        margin: 20px 0;
    }
}
