* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.education-main {
    color: black;
}

.education {
    margin-top: 50px;
}

.education p:nth-child(3) {
    text-align: center;
}

.education-desc {
    margin: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.education-type{
    font-weight: 1000;
    font-size: 1.7rem;

    
}

.school, .college, .training p { 
    font-size: 1.5rem;
}

.education-type p:nth-child(2) {
    color: white;
}

.school, .college, .training {  
    text-align: center;
    height: 45vh;
    width: 40vw;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(208, 206, 206, 0.5); 
}

.college img {
    height: 50px;
    width: 50px;
}

.school img {
    height: 50px;
    width: 50px;
}

.training-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.education p:last-child {
    padding: 20px 30px;
}

@media (max-width:1000px) {
    .training {
        width: 80%; 
        height: auto; 
        padding: 15px;
    }

    .education-desc {
        margin: 0px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .school, .college {  
        text-align: center;
        height: auto;
        width: auto;
        overflow: hidden;
        margin: 20px 0px;
    }

    .education {
        margin: 20px 0px;
    }

    .school, .college, .training { 
        height: auto;
        width: 100%;
    }
}
