.label{
    color: grey;
    text-align: center;
}
.topic{
    font-size: 3rem;
    text-decoration: underline;
    text-align: center;
}
.aboutmeimg img {
    
}




.aboutme-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.aboutmeimg img{
    height: 400px;
    width: 3000px;
}
.aboutme-desc {
    text-align: start;
    margin-left: 20px;
    
}
.aboutme-desc p{
    font-size: 1rem;
}

@media (max-width:1000px) {
    .aboutme-container{
        flex-wrap: wrap;
    }
    
}




.cursor{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.typewriter-animation {
  animation: 
    typewriter 5s steps(50) 1s 1 normal both, 
    blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}



